nav.navbar.navbar-expand-md.navbar-transparent
	button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbar-menu")
		span.navbar-toggler-icon
		span.navbar-toggler-icon
		span.navbar-toggler-icon
	a.navbar-brand(href="#") Node CMS
	#navbar-menu.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			li.nav-item
				a.nav-link(href="#") Link
			li.nav-item
				a.nav-link(href="#") Link