html(lang="en")
	head
		title Merison.io | #{title || 'Node CMS'}
		block head-tags
			include ./partials/head-tags.pug
			
	body.text-center
		.container.d-flex.h-100.p-3.mx-auto.flex-column
			header.mb-auto.mt-3
				.inner
					h3.float-md-left.m-0 Merison.io
					nav.nav.justify-content-center.navbar-transparent.d-none.d-md-block
						a.nav-link.float-md-right(href="/register", style="color: #66615b") Register
			main.inner.cover
				h1.cover-heading.p-3 Node CMS
				p.lead.p-3 Node CMS aims to provide a fast, flexible, and versatile CMS Framework.
				p.lead.p-3
					a.btn.btn-lg.btn-outline-default.mr-md-0.mr-2(href="/login") Log In
					a.btn.btn-lg.btn-default.d-inline-block.d-md-none.ml-2(href="/register") Register
			footer.mt-auto.mb-3
				.inner
					p.mb-2 Made with #[i.fas.fa-heart] by Merison.io