html(lang="en")
	head
		title Merison.io | #{title || 'Node CMS'}
		block head-tags
			include ./partials/head-tags.pug
			
	body.text-center
		block header
			include ./partials/header.pug
		.container
			block content
		block foot
			include ./partials/footer.pug