a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.cover-container {
  max-width: 65%;
}

.masthead {
  margin: 1rem 0;
}

.masthead-brand, .cover-heading {
  margin: 0;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}